@{ Layout = "_Layout"; }
<div class="card p-4 mx-auto" style="max-width: 400px;">
    <h3>Вход</h3>
    <form method="post">
        <input name="email" class="form-control mb-2" placeholder="Email" required />
        <input name="password" type="password" class="form-control mb-2" placeholder="Пароль" required />
        <button class="btn btn-success w-100">Войти</button>
    </form>
    <a href="/Account/Register" class="d-block mt-2 text-center">Регистрация</a>
</div>